<!-- People Details Template-->
<h3>Details</h3>
<div class="grid" *ngIf="person">
    
    <!-- @Person -->
    <div class="row">
        <span class="cell label">Person:</span>
        <span class="cell">{{person.name}}</span>
    </div>
    
    <!-- @Eye Color -->
    <div class="row">
        <span class="cell label">Eye Color:</span>
        <span class="cell">{{person.eye_color}}</span>
    </div>
    
    <!-- @Hair Color -->
    <div class="row">
        <span class="cell label">Hair Color:</span>
        <span class="cell">{{person.hair_color}}</span>
    </div>
    
    <!-- @Height -->
    <div class="row">
        <span class="cell label">Height:</span>
        <span class="cell">{{person.height}}</span>
    </div>
    
    <!-- @Gender -->
    <div class="row">
        <span class="cell label">Gender:</span>
        <span class="cell">{{person.gender}}</span>
    </div>
    
    <!-- @Films -->
    <div class="row">
        <span class="cell label">Films:</span>
        <div class="cell">
            
            <!-- Film Repeater -->
            <span *ngFor="let film of person.films">
                {{film}}
            </span>
            
        </div>
    </div>
</div>