<!-- App Component Template -->

<!-- Page Wrapper -->
<div class="wrapper">

<!--  Header -->
<!--
    <header>
        Load Header component here
    </header>
-->
    
    <!--  Navigation -->
    <nav>
        <!-- Home -->
        <a routerLink="/" routerLinkActive="active">Home</a>
        
        <!-- People List View -->
        <a routerLink="/people" routerLinkActive="active">People</a>
    </nav>
    
    <!--  Main Content  -->
    <main>
        <!--    App Router    -->
        <router-outlet></router-outlet>
    </main>
    
<!--  Footer  -->
<!--
    <footer>
        Load Footer component here
    </footer>
-->
    
</div>

